@font-face {
    font-family: "proxima-nova";
    src: url(./assets/fonts/proxima-nova-soft-light-webfont.woff);
    font-weight: 300;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "proxima-nova";
    font-weight: 300;
}

header {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.post {
    max-width: 60ch;
    background-color: #efefef;
    padding: 1rem;
    margin: 2rem auto;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.post img {
    width: 100%;
}